.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.disimage {
  margin-top: 20px;
}

.disimage img {
  display: block; 
  margin: 0 auto; 
  max-width: 100%; 
  height: 250px;
  width: 1000px;
}

.country {
    width: calc(25% - 20px); 
    margin: 50px 10px;
    padding: 100px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    text-align: center;
    text-decoration: none; 
    color: inherit; 
    position: relative; 
    transition: box-shadow 0.3s;
    background-color: #ccccff;
}

.countrysel {
  text-align: center;
}

.country:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.country-selected h1 {
    text-align: center;
}

.user-posts {
  display: flex; 
  justify-content: space-between; 
  margin-top: 20px; 
}

.user-post {
  width: 48%; 
  padding: 10px; 
  border: 1px solid #ccc; 
  box-sizing: border-box; 
}

  .signin-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 30px;
    
  }
  

  .hero h1 {
    font-size: 50px; 
    font-family: 'Inter', sans-serif; 
    margin-bottom: 20px; 
    margin-top: 50px;
    text-align: center;
  }
  
  .hero h2 {
    font-size: 50px; 
    font-family: 'Inter', sans-serif; 
    text-align: center;
  }
  
  .button-images {
    display: flex;
    justify-content: center; 
    gap: 40px; 
    margin-top: 100px;
  }
  
  .button-images img {
    width: 350px; 
    height: auto; 
  }
  
  .button-images .image-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .button-images .image-container img {
    width: 350px; 
    height: auto;
    margin-bottom: 0; 
  }
  
  .button-images .image-caption {
    font-size: 20px; 
    text-align: center; 
    color: #000; 
    margin-top: 0; 
  }
  
  
  
  
  .destination-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
    margin-top: 20px; 
  
  }
  
  .destination {
    flex: 0 1 calc(20% - 40px); 
    margin: 0 20px; 
    text-align: center; 
    margin-top: auto;
  }
  
  .destination img {
      width: 100%; 
      height: 200px; 
      object-fit: cover; 
      border-radius: 10px; 
    }
    
    .title {
      font-size: 32px;
      text-align: left;
      margin-top: 50px; 
      margin-bottom: 10px; 
      margin-left: 20px;
    }
    
    .destinations .content {
      margin-top: auto; 
    }
    
    
    .btn-block {
      display: block;
      width: 100%;
    }