<!-- Business Account Modal -->
<div class="modal fade" id="businessAccountModal" tabindex="-1" aria-labelledby="businessAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"> 
        <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="businessAccountModalLabel">Join to unlock the best of Website name</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="companyName" class="form-label">Company Name</label>
              <input type="text" id="companyName" class="form-control" placeholder="Company Name">
            </div>
            <div class="mb-3">
              <label for="einNumber" class="form-label">EIN Number</label>
              <input type="text" id="einNumber" class="form-control" placeholder="Employee Identification Number">
            </div>
            <div class="mb-3">
              <label for="businessEmail" class="form-label">Email address</label>
              <input type="email" id="businessEmail" class="form-control" placeholder="Email">
            </div>
            <div class="mb-3">
              <label for="businessPassword" class="form-label">Create a password</label>
              <input type="password" id="businessPassword" class="form-control" placeholder="Password">
            </div>
            <!-- The rest of the form fields... -->
            <button type="submit" class="btn btn-primary w-100 mt-3">Join</button>
          </form>
          <div class="modal-footer">
            <div class="text-center w-100">
              <p class="my-4" style="font-weight: bold;">--- Already a member? ---</p>
              <p class="mb-4"><a href="#" class="font-weight-bold" data-bs-toggle="modal" data-bs-target="#myModal">Sign In</a> using your ExplorationGuide account.</p>
              <p class="mb-4" style="font-size: 0.9rem;">By proceeding, you agree to our <a href="#">Terms of Use</a> and confirm you have read our <a href="#">Privacy and Cookie Statement</a>.</p>
              <p class="mt-1 mb-0" style="font-size: 0.9rem;">This site is protected by reCAPTCHA and the Google <a href="#">Privacy Policy</a> and <a href="#">Terms of Service</a> apply.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  