<!-- Business Account Modal -->
<div class="modal fade" id="businessAccountModal" tabindex="-1" aria-labelledby="businessAccountModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"> 
      <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="businessAccountModalLabel">Join to unlock the best of ExplorationGuide</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Business Account Modal Form Submission -->
        <form id="businessSignupForm" method="post" action="/signup_business" onsubmit="return validateBusinessForm()">
          <div class="mb-3">
            <label for="companyName" class="form-label">Company Name</label>
            <input type="text" id="companyName" name="companyName" class="form-control" placeholder="Company Name" required>
          </div>
          <div class="mb-3">
            <label for="einNumber" class="form-label">EIN Number</label>
            <input type="text" id="einNumber" name="einNumber" class="form-control" placeholder="Employee Identification Number" required>
          </div>
          <div class="mb-3">
            <label for="businessUsername" class="form-label">Username</label>
            <input type="text" id="businessUsername" name="businessUsername" class="form-control" placeholder="Username" minlength="8" required>
          </div>
          <div class="mb-3">
            <label for="businessPassword" class="form-label">Create a password</label>
            <input type="password" id="businessPassword" name="businessPassword" class="form-control" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and one special character, and at least 8 or more characters" required>
          </div>
          <button type="submit" class="btn btn-primary w-100 mt-3">Join</button>
        </form>
      </div>
      <div class="modal-footer">
        <div class="text-center w-100">
          <p class="my-4" style="font-weight: bold;">--- Already a member? ---</p>
          <a href="#" id="signInFromBusinessAccount" class="font-weight-bold">Sign In</a> using your Exploration Guide account
          <p class="mb-4" style="font-size: 0.9rem;">By proceeding, you agree to our <a href="#">Terms of Use</a> and confirm you have read our <a href="#">Privacy and Cookie Statement</a>.</p>
          <p class="mt-1 mb-0" style="font-size: 0.9rem;">This site is protected by reCAPTCHA and the Google <a href="#">Privacy Policy</a> and <a href="#">Terms of Service</a> apply.</p>
        </div>
      </div>
    </div>
  </div>
  {% include 'usernameSignInModal.html' %} 
{% include 'joinModal.html' %} 
{% include 'individualAccountModal.html' %}
{% include 'businessAccountModal.html' %}
</div>