{% extends "_layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles.css">
<div class="countrysel">
    <h1>Welcome to {{ selected_country }}</h1>
    <div class="disimage">
        <a><img src="/static/images/vacationpic.jpg"></a>
    </div>    
    <div class="user-posts">
        <div class="user-post">
            <h2>User Post 1 Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>Posted 3 hours ago</p>
        </div>
        <div class="user-post">
            <h2>User Post 2 Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Posted 5 hours ago</p>
        </div>
    </div>
</div>
{% endblock %}

