{% extends "_layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles.css">
<div class="flex-container">
    <a class="country" href="/discover_page_selected?country=UnitedStates">United States</a>
    <a class="country" href="/discover_page_selected?country=Canada">Canada</a>
    <a class="country" href="/discover_page_selected?country=France">France</a>
    <a class="country" href="/discover_page_selected?country=Italy">Italy</a>
    <a class="country" href="/discover_page_selected?country=Greece">Greece</a>
    <a class="country" href="/discover_page_selected?country=Jamaica">Jamaica</a>
    <a class="country" href="/discover_page_selected?country=Australia">Australia</a>
    <a class="country" href="/discover_page_selected?country=Brazil">Brazil</a>
</div>
{% endblock %}

