{% extends "_layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles.css">
<div class="flex-container">
    <a class="country" href="/discover_page_selected?country=PuertoRico">Puerto Rico</a>
    <a class="country" href="/discover_page_selected?country=Italy">Italy</a>
    <a class="country" href="/discover_page_selected?country=Greece">Greece</a>
    <a class="country" href="/discover_page_selected?country=Hawaii">Hawaii</a>
    <a class="country" href="/discover_page_selected?country=Jamaica">Jamaica</a>
    <a class="country" href="/discover_page_selected?country=Brazil">Brazil</a>
    <a class="country" href="/discover_page_selected?country=Sweeden">Sweeden</a>
    <a class="country" href="/discover_page_selected?country=Australia">Australia</a>
</div>
{% endblock %}
