{% extends "_layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles.css">
<div class="flex-container">
    <a class="country" href="/PuertoRico">Puerto Rico</a>
    <a class="country" href="/Italy">Italy</a>
    <a class="country" href="/Greece">Greece</a>
    <a class="country" href="/Hawaii">Hawaii</a>
    <a class="country" href="/Jamaica">Jamaica</a>
    <a class="country" href="/US">US</a>
    <a class="country" href="/Canada">Canada</a>
    <a class="country" href="/Australia">Australia</a>
    <a class="country" href="/Sweden">Sweden</a>
    <a class="country" href="/China">China</a>
    <a class="country" href="/Brazil">Brazil</a>
    <a class="country" href="/Germany">Germany</a>
    <a class="country" href="/Russia">Russia</a>
    <a class="country" href="/Turkey">Turkey</a>
    <a class="country" href="/Serbia">Serbia</a>
</div>
{% endblock %}
