{% extends "_layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/styles.css">
<div class="countrysel">
    <h1>Welcome to {{ selected_country }}</h1>
    <div class="disimage">
        <a><img src="/static/images/vacationpic.jpg"></a>
    </div>    
    <div class="user-posts">
        <div class="personal-posts">
            <h2>Personal Posts</h2>
            {% for post in personal_posts %}
                <div class="user-post">
                    <a href="http://127.0.0.1:5000/view_personal_post/{{ post.id }}">
                        <h3>{{ post.title }}</h3>
                    </a>
                        <p>{{ post.description }}</p>
                        <p>Posted by User ID: {{ post.user_id }}</p>
                        <p>Posted at: {{ post.posted_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                    
                </div>
            {% endfor %}
        </div>
        <div class="business-posts">
            <h2>Business Posts</h2>
            {% for post in business_posts %}
                <div class="user-post">
                    <a href="http://127.0.0.1:5000/view_business_post/{{ post.id }}">
                        <h3>{{ post.title }}</h3>
                    </a>
                        <p>{{ post.description }}</p>
                        <p>Posted by User ID: {{ post.user_id }}</p>
                        <p>Posted at: {{ post.posted_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                    
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block previous_content %}
<!--
<link rel="stylesheet" type="text/css" href="/static/styles.css">
<div class="countrysel">
    <h1>Welcome to {{ selected_country }}</h1>
    <div class="disimage">
        <a><img src="/static/images/vacationpic.jpg"></a>
    </div>    
    <div class="user-posts">
        <div class="user-post">
            <h2>User Post 1 Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>Posted 3 hours ago</p>
        </div>
        <div class="user-post">
            <h2>User Post 2 Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Posted 5 hours ago</p>
        </div>
    </div>
</div>
-->
{% include 'usernameSignInModal.html' %} 
{% include 'joinModal.html' %} 
{% include 'individualAccountModal.html' %}
{% include 'businessAccountModal.html' %}
{% endblock %}
