{% extends "_layout.html" %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2>Create Trip Itinerary</h2>
        <form action="/itinerary_creation_step_2" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="destination" class="form-label">Destination</label>
                <select class="form-select" id="destination" name="destination" required>
                    <option value="Puerto Rico">Puerto Rico</option>
                    <option value="Italy">Italy</option>
                    <option value="Greece">Greece</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Jamaica">Jamaica</option>
                    <option value="Brazil">Brazil</option>
                    <option value="Sweeden">Sweeden</option>
                    <option value="Australia">Australia</option>
                    <!-- Add other countries as options -->
                </select>
            </div>
            <div class="mb-3">
                <label for="disembark_date" class="form-label">Disembark Date</label>
                <input type="date" class="form-control" id="disembark_date" name="disembark_date" required>
            </div>
            <div class="mb-3">
                <label for="days" class="form-label">Number of Days</label>
                <input type="number" class="form-control" id="days" name="days" min="1" required>
            </div>
            <!-- Add other fields for activities here -->
            <button type="submit" class="btn btn-primary">Next</button>
        </form>
    </div>
</div>


{% extends "_layout.html" %}
{% block content %}


  <section class="hero">
      <h1>To Travel is to Live -</h2>
      <h2>Plan your Dream Trip Beginning to End</h3>
          <div class="button-images">
              <div class="image-container">
                <a href="/DiscoverPage">
                  <img src="static/images/discover.jpg" alt="Discover" />
                  <a href="/DiscoverPage">
                  <span class="image-caption">Discover</span>
                </a>
              </div>
              <div class="image-container">
                    <a href="/all_posts">
                    <img src="static/images/post.jpg" alt="Post" />
                    <a href="/all_posts">
                    <span class="image-caption">Post</span>
                </a>
            </div>
              <div class="image-container">
                  <a href="/itinerary_creation">
                  <img src="static/images/plan.jpg" alt="Plan Your Trip" />
                  <a href="/itinerary_creation">
                  <span class="image-caption">Plan Your Trip</span>
                </a>
              </div>
          </div>
      </section>

  <section class="destinations">
      <div class="content">
          <h2 class="title">Top vacation destinations</h2>
      <div class="destination-container">
          <div class="destination">
            <img src="static/images/puertoRico.jpg" alt="Puerto Rico" />
          </div>
          <div class="destination">
            <img src="static/images/italy.jpg" alt="Italy" />
          </div>
          <div class="destination">
            <img src="static/images/greece.jpg" alt="Greece" />
          </div>
          <div class="destination">
            <img src="static/images/hawaii2.jpg" alt="Hawaii" />
          </div>
          <div class="destination">
            <img src="static/images/jamaica.jpg" alt="Jamaica" />
          </div>
        </div>
  </section>

  {% include 'usernameSignInModal.html' %} 
  {% include 'joinModal.html' %} 
  {% include 'individualAccountModal.html' %}
  {% include 'businessAccountModal.html' %}

{% endblock %}