<div id="myModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sign in to unlock the best of ExplorationGuide</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button type="button" id="googleSignIn" class="btn btn-danger mb-2 w-100">Continue with Google</button>
                <button type="button" id="emailBtn" class="btn btn-primary w-100">Continue with Email</button>
                <div class="text-center w-100">
                    <p class="mt-5" style="font-size: 0.9rem;">By proceeding, you agree to our <a href="#">Terms of Use</a> and confirm you have read our <a href="#">Privacy and Cookie Statement</a>.</p>
                    <p class="mt-1 mb-0" style="font-size: 0.9rem;">This site is protected by reCAPTCHA and the Google <a href="#">Privacy Policy</a> and <a href="#">Terms of Service</a> apply.</p>
            </div>
        </div>
    </div>
 </div>
